<%- include("templates/header") %>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">403</h1>
            <p class="fs-3"> <span class="text-danger">Oops!</span> Page not found.</p>
            <p class="lead">
                Not the right to access
            </p>
        </div>
    </div>
<%- include("templates/footer") %>